.banner {
    margin: auto;
    text-align: center;
    height: fit-content;
}

.content {
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.content2 {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.profilepic {
    width: 300px;
    margin-left: 150px;
}